.img_skill{
    cursor: pointer;
    width: 100%;
    box-shadow: 10px 14px 44px 10px rgba(0,0,0,0.54);
    -webkit-box-shadow: 10px 14px 44px 10px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 14px 44px 10px rgba(0,0,0,0.54);
}
.container_abilities{
    display:flex;
    flex-direction:column;
    margin-top:25px;
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: flex-end;
}

.container_icons{
    display:flex;
    justify-content:center;
    align-items: flex-end;
}
.container_icon{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin:10px;
}

.container_skill_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_skill_info::-webkit-scrollbar {
    -webkit-appearance: none;
}