.background{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(34, 8, 13), rgb(57, 9, 17), rgb(81, 4, 13), rgb(103, 0, 0));
    display: flex;
    justify-content: center;
    height: 100%;
}
body{
    font-family: 'PT Serif', serif;
}